@media screen and (min-width: 801px) {

    #profile-pic {
        height: auto;
        width: 250px;
        margin: 25px 0 10px 30px;
    }

    .about-text {
        font-size: 12pt;
        text-align: left;
        vertical-align: middle;
        padding-left: 60px;
        padding-right: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    .logo-icon-container {
        width: 250px;
        object-fit: cover;
        margin-left: 30px;
        margin-bottom: 5px;
    }

    .logo-icon {
        height: 17%;
        width: 17%;
    }

    .align-items-center {
        align-items: center;
    }

}

@media screen and (max-width: 800px) {
    #profile-pic {
        height: auto;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .about-text {
        font-size: 10pt;
        text-align: left;
        vertical-align: middle;
      }

    .logo-icon-container {
        width: 100%;
        object-fit: contain;
        margin-bottom: 15px;
    }
    
    .logo-icon {
        height: 12%;
        width: 12%;
        margin-left: 7px;
        margin-right: 7px;
    }
}